# EDA : Software Development Tools

In this notebook, we are going to visualize some data from the dataset `vehicles_us` through some plots and histograms to better understand how the advertisements influence in car sales. As we already know, this process is called Exploratory Data Analysis (EDA).

In [5]:
# libraries
import pandas as pd
import plotly.express as px
import streamlit as st

In [7]:
df = pd.read_csv("https://practicum-content.s3.us-west-1.amazonaws.com/datasets/vehicles_us.csv")
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [13]:
df['manufacturer'] = df['model'].apply(lambda x: x.split()[0])

In [14]:
df.head(10)

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,manufacturer
5,14990,2014.0,chrysler 300,excellent,6.0,gas,57954.0,automatic,sedan,black,1.0,2018-06-20,15,chrysler
7,15990,2013.0,honda pilot,excellent,6.0,gas,109473.0,automatic,SUV,black,1.0,2019-01-07,68,honda
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38,chevrolet
14,12990,2009.0,gmc yukon,excellent,8.0,gas,132285.0,automatic,SUV,black,1.0,2019-01-31,24,gmc
16,14990,2010.0,ram 1500,excellent,8.0,gas,130725.0,automatic,pickup,red,1.0,2018-12-30,13,ram
17,13990,2014.0,jeep cherokee,excellent,6.0,gas,100669.0,automatic,SUV,red,1.0,2018-08-16,25,jeep
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.0,automatic,SUV,white,1.0,2019-04-09,13,chevrolet
22,7500,2004.0,chevrolet silverado,like new,8.0,gas,180000.0,automatic,truck,red,1.0,2019-01-05,64,chevrolet
30,5000,2009.0,jeep liberty,good,6.0,gas,137273.0,automatic,SUV,white,1.0,2019-02-19,14,jeep
33,3890,2011.0,subaru outback,excellent,4.0,gas,300000.0,automatic,SUV,white,1.0,2018-12-25,31,subaru

In [6]:
df.columns

Index(['price', 'model_year', 'model', 'condition', 'cylinders', 'fuel',
       'odometer', 'transmission', 'type', 'paint_color', 'is_4wd',
       'date_posted', 'days_listed'],
      dtype='object')

In [8]:
# missing values
df.isnull().sum()

price               0
model_year       3619
model               0
condition           0
cylinders        5260
fuel                0
odometer         7892
transmission        0
type                0
paint_color      9267
is_4wd          25953
date_posted         0
days_listed         0
dtype: int64

In [9]:
df

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28
...,...,...,...,...,...,...,...,...,...,...,...,...,...
51520,9249,2013.0,nissan maxima,like new,6.0,gas,88136.0,automatic,sedan,black,NaN,2018-10-03,37
51521,2700,2002.0,honda civic,salvage,4.0,gas,181500.0,automatic,sedan,white,NaN,2018-11-14,22
51522,3950,2009.0,hyundai sonata,excellent,4.0,gas,128000.0,automatic,sedan,blue,NaN,2018-11-15,32
51523,7455,2013.0,toyota corolla,good,4.0,gas,139573.0,automatic,sedan,black,NaN,2018-07-02,71
51524,6300,2014.0,nissan altima,good,4.0,gas,NaN,automatic,sedan,NaN,NaN,2018-06-05,10

In [10]:
df['fuel'].unique()

array(['gas', 'diesel', 'other', 'hybrid', 'electric'], dtype=object)

In [9]:
df.dropna(inplace=True)

In [10]:
df.isnull().sum()

price           0
model_year      0
model           0
condition       0
cylinders       0
fuel            0
odometer        0
transmission    0
type            0
paint_color     0
is_4wd          0
date_posted     0
days_listed     0
dtype: int64

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14852 entries, 5 to 51515
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         14852 non-null  int64
 1   model_year    14852 non-null  float64
 2   model         14852 non-null  object
 3   condition     14852 non-null  object
 4   cylinders     14852 non-null  float64
 5   fuel          14852 non-null  object
 6   odometer      14852 non-null  float64
 7   transmission  14852 non-null  object
 8   type          14852 non-null  object
 9   paint_color   14852 non-null  object
 10  is_4wd        14852 non-null  float64
 11  date_posted   14852 non-null  object
 12  days_listed   14852 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 1.6+ MB

In [21]:
len(df['condition'])

51525

In [6]:
df['model_year'].isnull().sum()

3619

In [8]:
df['model_year'].count()

47906

In [10]:
(df['model_year'].isnull().sum() / df['model_year'].count())*100

7.5543773222560855

In [11]:
(df.isnull().sum() / df.count())*100

price           0.0
model_year      0.0
model           0.0
condition       0.0
cylinders       0.0
fuel            0.0
odometer        0.0
transmission    0.0
type            0.0
paint_color     0.0
is_4wd          0.0
date_posted     0.0
days_listed     0.0
dtype: float64

In [17]:
# check for duplicates values

df.duplicated(subset='is_4wd').sum()

51523

In [21]:
manufac_list = sorted(df['manufacturer'].unique())
# 2. get the user's input from a dropdown menu for manufacturer 1
manufacturer_1 = st.selectbox(
    label = 'Select manufacturer 1', # title of the select box
    options = manufac_list, # options listed in the select box
    index = manufac_list.index('chevrolet') # default pre-selected option
                            )
# 3. get the user's input from a dropdown menu for manufacturer 2
manufacturer_2 = st.selectbox(
    label = 'Select manufacturer 2', # title of the select box
    options = manufac_list, # options listed in the select box
    index = manufac_list.index('hyundai') # default pre-selected option
                            )
# 4. filter the dataframe
mask_filter = (df['manufacturer'] == manufacturer_1) | (df['manufacturer'] == manufacturer_2)
df_filtered = df[mask_filter]
# 5. add a checkbox if a user wants to normalize the histogram 
normalize = st.checkbox('Normalize histogram', value = True)
if normalize:
    histnorm = 'percent'
else:
    histnorm = None
# 6. create a plotly histogram figure
fig = px.histogram(
                    df_filtered,
                    x = 'price',
                    nbins = 30,
                    color = 'manufacturer',
                    histnorm = histnorm,
                    barmode = 'overlay'
                    )

2025-02-16 03:27:10.596 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.597 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.599 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.600 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.601 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.601 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.602 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.602 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.602 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.603 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.604 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.604 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.607 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.607 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.608 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.608 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-02-16 03:27:10.608 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

In [22]:
df_filtered.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,manufacturer
10,19500,2011.0,chevrolet silverado 1500,excellent,8.0,gas,128413.0,automatic,pickup,black,1.0,2018-09-17,38,chevrolet
18,12500,2013.0,chevrolet traverse,excellent,6.0,gas,128325.0,automatic,SUV,white,1.0,2019-04-09,13,chevrolet
22,7500,2004.0,chevrolet silverado,like new,8.0,gas,180000.0,automatic,truck,red,1.0,2019-01-05,64,chevrolet
40,11499,2017.0,chevrolet equinox,like new,4.0,gas,54772.0,automatic,SUV,grey,1.0,2019-01-12,36,chevrolet
53,10400,2012.0,chevrolet colorado,excellent,5.0,gas,111871.0,automatic,truck,red,1.0,2019-01-30,27,chevrolet